@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poiret One", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --text-color: #E0E0E0;
    --bg-color: #000 ;
    --bg-color: #04044c;
  --secondary-bg-color: #494a7d;
  --primary-color: #fff;
  --secondary-color: #FFA726;
  --text-color: #8789af;
  --border-color: #20235b;
}


img{
    width: 100%;
}

body {
    color: var(--text-color);
    background-color: black
}

.container {
    max-width: 1600px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

/* BARRA DE NAVEGAÇÃO */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px;
    z-index: 100;
    font-weight: 600;
}


#navbarNav i{
  color: #FFA726;
}

.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}

.secoes {
  margin-right: 10px;
}

.secao {
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 10px;
  text-decoration: none;
}

.secao:hover {
  color: #FFA726;
}

.btn-login {
  padding: 5px;
  background-color: #F5F5DC;
  color: #4B2E2E;
  border: none;
  border-radius: 5px;
}

 #carrinho {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: none;
 }


 /* CARRINHO */

 .carrinho {
    position: fixed;
    top: 0;
    right: -200%;
    width: 360px;
    height: 950px;
    min-width: 70vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px;
    transition: 0.3s;
 }

 .carrinho.active {
   right: 0;
 }

 .titulo-carrinho {
   text-align: center;
   font-size: 1.5rem;
   margin-top: 1.5rem;
 }

 .carrinho-box {
   display: grid;
   grid-template-columns: 32% 50% 18%;
   align-items: center;
   gap: 1rem;
   margin-top: 1rem;
 }

 .carrinho-img {
   width: 150px;
   height: 150px;
   object-fit: contain;
   border: 1px solid var(--bg-color);
 }

 .detalhe-box {
   display: grid;
   row-gap: 0.5rem;
 }

 .titulo-produto-carrinho {
   font-size: 1.3rem;
   font-weight: 600;
 }

 .preco-carrinho {
   font-size: 1.1rem;
   font-weight: 600;
 }

 .quantidade-carrinho {
   border: 1px solid var(--text-color);
   outline-color: var(--main-color);
   width: 2.4rem;
   text-align: center;
   padding: 5px;
   font-size: 1rem;
   font-weight: 600;
 }

 .remover-carrinho {
   font-size: 24px;
   color: var(--bg-color);
   cursor: pointer;
 }

 .total {
   display: flex;
   justify-content: flex-end;
   margin-top: 1.5rem;
   border-top: 1px solid var(--bg-color);
 }

 .titulo-total {
   font-size: 1.2rem;
   font-weight: 600;
 }

 .valor-total {
   font-size: 1.2rem;
   font-weight: 600;
   margin-left: 0.5rem;
 }

 .btn-compra {
   display: flex;
   margin: 1.5rem auto 0 auto;
   padding: 12px 20px;
   border: none;
   background-color: var(--bg-color);
   color: var(--text-color);
   font-size: 1rem;
   font-weight: 600;
   cursor: pointer;
 }

 .btn-compra:hover {
   background-color: var(--main-color);
   color: var(--bg-color);
 }

 #fechar-carrinho {
   position: absolute;
   top: 1rem;
   right: 0.8rem;
   font-size: 2rem;
   color: var(--bg-color);
   cursor: pointer;
 }


 .titulo-section {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
 }

 .shop {
    margin-top: 2rem;
 }

 .modal {
  font-weight: 700;
 }

 /* CAROUSEL */

 .carousel-fade .carousel-item {
  transition: opacity 0.1s ease-in-out;
}

 /* PRODUTOS DO MERCADO */

 .shop-conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    gap: 1.5rem;
 }

 .product-box {
    position: relative;
 }

 .product-box:hover {
    padding: 10px;
    border: 1px solid var(--bg-color);
    transition: 0.3s;
 }

 .product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
 }

 .product-titulo {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
 }

 .price {
    font-weight: 600;
 }

 .add-cart {
    position: absolute;
    bottom: 0;  
    right: 0;
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
 }

 .add-cart:hover {
    font-size: 1.3rem;
    transition: 0.2s;
 }

/* SOBRE */

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
}

.card.card-1 {
  background-color: #FFA726; 
}

.card.card-2 {
  background-color: #1976D2; 
}

.card.card-3 {
  background-color: #FFA726; 
}

.card-img-top {
  height: 220px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-title {
  font-size: 1.5rem; 
  font-weight: 600;
}


.card-text {
  font-weight: 600;
}

.card-body {
  font-size: 1.2rem; 
  font-weight: 500;
}

/* ENDERECO.HTML */


#checkout-page {
  background-color: var(---primary-color);
  color: var(#000);
}

#order-form-container {
  padding: 1.5em;
}

#steps {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-color);
  position: relative;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step i {
  background-color: #e09523;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.step .active {
  background-color: var(--secondary-color);
}

.step p {
  color: var(--text-color);
}

.line {
  border-bottom: 1px solid var(--border-color);
  position: absolute;
  top: 22.5px;
  width: 90%;
  left: 5%;
  z-index: -1;
}

#form-header p {
  color: var(--text-color);
}

#order-form-container {
  max-width: 700px;
}

#order-form-container input,
#order-form-container select {
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  color: #000;
}

#order-form-container select {
  padding: 1rem 0.75rem;
}

#order-form-container label {
  color: #000;
  
}

#order-form-container input:disabled,
#order-form-container select:disabled {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#order-form-container input:focus {
  border-color: var(--secondary-color);
}

#order-form-container .form-floating > label {
  left: 1em;
}

#save-btn {
  background-color: #1976D2;
  border: none;
  height: 3em;
  width: 8em;
  border-radius: 1.5em;
  display: block; /* ou inline-block, dependendo do caso */
  visibility: visible; /* Certifique-se de que não está 'hidden' */
}

footer {
  font-weight: 600;
  color: #000;
}





@media (min-width: 500px) {
  #save-btn {
    width: 8em;
  }
}